# Apache Hop Configuration
HOP_LOG_LEVEL=Basic
HOP_PORT=8080

# Banco de Origem (Northwind)
SOURCE_DB_USER=postgres
SOURCE_DB_PASSWORD=your_password_here
SOURCE_DB_NAME=northwind
SOURCE_DB_PORT=5432

# Banco de Destino (Data Warehouse)
TARGET_DB_USER=dw_user
TARGET_DB_PASSWORD=your_password_here
TARGET_DB_NAME=arruda_dw
TARGET_DB_PORT=5433